/* phần dùng chung */
:root{
    --primary-color: #ffd029;
    --white-color: #fff;
    --black-color: #000;
    --gray-color: #5a5a5a;
    --text-color: white;
    --boder-color: #dbdbdb;

    --header-height: 150px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--header-height))
}

*{
    box-sizing: inherit; 
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto',sans-serif; /*làm mất dấu gạnh dưới chân*/
    box-sizing: border-box;
}

.container__heading img {
    width: 100%;
    height: 100%;
}
/*responsive*/
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full--width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/*test*/
.grid__colum-6{
    padding-left: 5px;
    padding-right: 5px;
    width: 60%;
}
.grid__colum-5{
    padding-left: 5px;
    padding-right: 5px;
    width: 50%;
}
.grid__colum-4{
    padding-left: 20px;
    padding-right: 5px;
    width: 40%;
}
.grid__colum-3{
    padding-left: 28px;
    width: 33%;
}
/* animation */
@keyframes fadeIn{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }to{
        ransform: scale(var(--growth-to));
    }
}


