body{
    background-image: url(../images/template-background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    min-width: 674px;
    overflow: overlay;
}

/*header navpar*/
.header{
    height: var(--header-height);
    background-image: url(../images/background2.png);
}
.img--logo{
   position: relative;
   top: 19px;
   margin-right: 30px;
}
.header__navbar{
    width: 100%;
    display: flex;
    line-height: 2.2rem;
    padding: 0 5px;
    justify-content: space-between;/*cách xa nhau*/
}
.header__navbar--lish{
    display: flex;
    list-style: none; /*bỏ dấu chấm đầu hàng*/
    margin: 0px -5px 0 -36px;
    align-items: center;/*căn hình ra giữa hàng trên và dưới*/
}
.lopphu{
    display: block;
    background-color: rgb(0,0,0,0.5);
    width: 100%;
    height: 315%;
    left: 0;
    display: none;
    justify-content: center;
    position: absolute;
    z-index: 2;
}
.DK__DN{
    display: none;
    content: "";
    margin: 0;
    background-color: var(--white-color);
    position: absolute;
    z-index: 2;
    border-radius: 2px;
}
/* close tab */
.close__tab{
    margin: 20px 60px 0 0;
    display: flex;
    justify-content: right;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--black-color);

}
.header__navbar--item{
    display: block;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--text-color);
    margin: 0 6px 0 6px;
    text-align: center;
    cursor: pointer;
    transition: ease-in-out color 0.2s;
}
.trangchu a{
    color: var(--primary-color);
}
.trangchu a:hover{
    text-decoration: none;
    color: var(--primary-color)
}
.header__navbar--item:hover{
    color: var(--primary-color);
    text-decoration: none;
}
.header__navbar--item--link{
    padding: 2px 17px;
    margin-bottom: 4px;
    color: var(--black-color);
    text-decoration: none;
    
}
.header__navbar--item--link-signin{
    color: var(--primary-color); 
    border: none;
    background-color: rgb(0, 0, 0, 0.0);
}
.header__navbar--item--link-signin:hover{
    border-bottom: 1px solid var(--primary-color);
    text-decoration: none;
    color: var(--primary-color); 
}
.header__navbar--item--link-login{
    background-color: yellow;
    box-shadow: 0 1px 1px 0 rgb(245, 245, 52);
    border: none;
    transition: ease-in background 0.3s;
}
.header__navbar--item--link-login:hover{
    background-color: var(--primary-color);
    text-decoration: none;
    color: var(--black-color); 
}
/* NOTIFI */
.notifi:hover .notifi__contain{
    display: block;
}
.notifi__contain{
    display: none;
    background-color: var(--text-color);
    color: var(--black-color);
    width: 300px;
    
    position: absolute;
    z-index: 2;
    border: 1px solid var(--gray-color);
    border-radius: 3px;
    margin-top: 10px;

    transform-origin: calc(100% -32px) top;/*dich chuyen tam cua animation*/
    animation: headerNotifyGrowth ease-in-out 0.2s;
    -webkit-animation: headerNotifyGrowth ease-in-out 0.2s; /*window*/
    -ms-zoom-animation: headerNotifyGrowth ease-in-out 0.2s; /*mac*/
    -o-animation: headerNotifyGrowth ease-in-out 0.2s; /*opera*/
    -moz-animation: headerNotifyGrowth ease-in-out 0.2s; /*fifox*/
    -webkit-text-fill-color: opacity, transform; /*làm cho nó hiểu rõ về trình duyệt*/
}
/* animation cho thông báo */
@keyframes headerNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
/* mui nhon */
.notifi__contain::before{
    content: "";
    display: block;

    border-width: 12px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -23px;
    left: 50px;
    z-index: 5;
}
.notifi__header{
    background-color: bisque;
}
.notifi__header h3{
    color: var(--black-color);
    padding: 5px 5px;
}
.notifi__body{
    display: flex;
    margin: 3px 5px;
    max-height: 100px;
    overflow: hidden;
    border-bottom: 1px solid var(--gray-color);
    background-color: #f6f6f6;
}
.notifi__body:hover{
    background-color: rgb(230, 220, 209);
}
.notifi__body span{
    margin: 3px 5px;
    font-size: 1.2rem;
    color: #ff9e62;
}
.notifi__body img{
    width: 50px;
    height: 50px;
    float: left;
}

/*tien ích*/
.tienich{
    color: var(--primary-color);
    background-color: currentColor;
    border-radius: 5px 0 0 0;
    content: "";
    display: block;
    position:relative;
    width: calc(100% - 220px); /*tính toán cái tiện ích độ dài*/
    height: 68px;
    top: -33px;
    margin-left: 220px;
    box-shadow: 2px 1px 5px 1px rgb(185, 94, 18);
    z-index: 1;
}


.tienich::after{
    /* tạo cái mũi nhon tiện ích */
    content: "";
    position: absolute;
    left: -16px;
    bottom: 0px;
    border-top: 15.5px solid currentColor;
    border-left: 15px solid transparent;
    filter: brightness(60%); /*giảm độ sắng của hình tam giác*/
    box-shadow: 2px 0px 0px 0px currentColor;
}

.tienich__blog{
    display: flex;
    justify-content: space-between;
    padding: 7px 7px 7px 5%;
    margin: 20px 0;
}
.tienich__blog-list{
    display: flex;
    list-style: none;
    padding: 3px 0;
    margin: 13px 0;
    align-items: center;
}
.tienich__blog-item{
    text-decoration: none;
    line-height: 2rem;
    padding: 5px 15px 0 0;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--black-color);
    transition: ease-in-out color 0.2s;
}
.tienich__blog-item:hover{
    color: var(--text-color);
    text-decoration: none;
}

.icon__navbar{
    position: relative;
    zoom: 110%;
    
}

/*thân*/

.container__body{
    text-align: center;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 20px 0;
    position: relative;
    top: -6px;
    margin-top: 6px;
}
.container{
    max-width: 100%;
}
.container__body-header h1, h3{
    font-weight: 600;
    color: var(--text-color);
}
.container__body-header h1{
    font-size: 50px;
}

.container__body-body--list{
    list-style: none;
}
.container__body-body--item{
    padding: 10px 10px;
    font-size: 1.4rem;
    position: relative;
    left: -22px;
    text-align: left;
    display: inline-block;
    font-weight: 600;
    margin: 3px 3px;
    background-color: var(--text-color);
    width: 230px;
    height: 40px;
    border-radius: 2px;
    cursor: pointer;

}
.container__body-body--item i{
    margin: 3px 0 10px 0;
    float: right;
}

/*phim đang chiếu and phim sắp chiếu*/
.container__body-second{
   display: flex;
   justify-content: center;
   margin: 30px 0;
}
.container__body-second--button-one{
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
    background-color: var(--primary-color);
    padding: 10px 20px;
    margin-right: 10px;
}
.container__body-second--button-two{
    
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
    color: var(--text-color);
    background-color: var(--gray-color);
    padding: 10px 20px;
    margin-right: 10px;
    
    transition: ease-out background-color 0.3s;
}
.container__body-second--button-two:hover{
    background-color: red;
}

.container__body-body--item:hover .container__body-body-function{
    display: block;
}
/*CON*/

.container__body-body-function{
    position: absolute;
    width: 230px;
    left: 0px;
    top: 40px;
    display: none;
    z-index: 1;
}
.container__body-body-function--list{
    list-style: none;
    background-color: var(--gray-color);
    padding-left: 0px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.container__body-body-function--item{
    font-size: 1.2rem;
    padding: 10px 0 10px 10px;
    color: var(--text-color);
    line-height: 1.4rem;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.container__body-body-function--item a{
    color: var(--text-color);
}
.container__body-body-function--item a:hover{
    color: var(--primary-color);
    text-decoration: none;
}
.container__body-body-function--item:hover{
    color: var(--primary-color);
    text-decoration: none;
}


/*product item*/
.home-product{
    margin-bottom: 10px;
    width: 100%;
}
.grid__row-item{
    margin: 0 5px;
    width: 200px;
    height: 310px;
}
.grid__row-boder{
    border: 10px solid var(--black-color);
}
.home-product-item{
    width: 100%;
    height: 300px;
    display: block;
    margin-top: 10px;
    text-decoration: none;
    background-color: var(--white-color);
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;/*dịch lên xuống*/
    will-change: transform;/*cần khai báo transform*/
}
/*hover độ nhòe cái boder*/
.home-product-item:hover{
    transform: translateY(-1px); /*nhảy lên xuống khi hover*/
    box-shadow: 0 1px 20px 0 rgb(0, 0, 0, 0.05);
}
.home-product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat; /*làm cho hình ko lặp*/
    background-size: contain; /*đầy cái hình*/
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    width: 100%;
    height: 300px;
}
.home-product-item:hover .home-product-item__infomation{
    display: block;
    background-color: rgb(0, 0, 0, 0.6);
}
.grid__row-oo{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 -5px;
   
    max-height: 981px;
    overflow-y: scroll;
}
/*phần infomation ẩn*/
.home-product-item::after{
    display: none;
    content: "";
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
}
/*tên*/
.home-product-item__infomation{
    width: 100%;
    height: 296px;
    display: none;
    position: absolute;
    top: 0;
}
.home-product-item__name{
font-size: 1.6rem;
font-weight: 600;
color: var(--text-color);
line-height: 1.8rem; /*chiều cao cảu 1 dòng chữ*/
height: 3.6rem;
margin: 10px 10px 6px 10px;
overflow: hidden; /*thằng con tròi ra thằng cha thì sẽ làm như thế nào   hidden là ẩn nó đi*/
display: block;
/*tạo dấu ...*/
display: -webkit-box; 
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
text-overflow: ellipsis;

}
.infor{
    
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0 10px;
    line-height: 1.6rem;
}
.infor:hover{
    color: bisque;
}
.infor i{
    color: var(--primary-color);
}
.imgmain{
    position: absolute;
    top: 0;
}
.seemore{
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    color: var(--priuudaimary-color);
}
.seemore:hover{
    color: var(--primary-color);
}
/*uu dai*/
.app__content{
    max-height: 857px;
}
.ss{
    display: flex ;
    margin: 10px 0px;
    justify-content: center;
    width: 100%;
    overflow-y: scroll;
    border: 5px solid var(--black-color);
    height: 367px;
}

.hhh{
    display: block;
    max-width: 400px;
    max-height: 21px;
    overflow: hidden;
}
.ss img{
    width: 270px;
    height: 270px;
}
.uu-dai--img{
    height: 100%;
    width: 100%;
}

.grid__colum-6--uudai{
    margin: 30px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.grid__colum-6--item-one{
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
    color: blueviolet;
    cursor: text;
}
.grid__colum-6--item{
    font-size: 1.4rem;
    font-weight: 600;
    color: orange;
}
.grid__colum-6--item:hover{
    color: var(--primary-color);
}
.grid__colum-6--poster img{
    margin-top: 5px;
    width: 100%;

}

/* uu dai posster */
.grid__colum-6--poster{
    display: block;
    margin: 10px 0 0 0;
}
.grid__colum-6--poster-2-img{
    display: flex;
    justify-content: center;
}
.grid__colum-6--poster-2-img img{
    width: 45%;
    height: 300px;
    margin:  0 10px;
}
.uudai{
    display: flex;
    max-height: 500px;
    overflow: hidden;
}
/*colum 4*/
.colum-4--header{
    
    margin: 30px 0 0 0;
    justify-content: left;
    background-image: url(../images/chính-thức-kc.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
}
.conten--4--header{
    display: flex;
    padding: 6px 0 0 6px;
}
.colum-4--header-logo img{
    border: 2px solid var(--white-color);
    width: 80px;
    height: 80px;
}
.colum-4--header-banner{
    margin-left: 6px;
    color: var(--text-color);
}
.colum-4--header-banner a{
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
}
.colum-4--header-banner i{
    font-size: 1.8rem;
    margin: 5px 3px 0 3px;
    color: rgb(47, 50, 198);
}
.colum-4--header-banner span{
    font-size: 1.2rem;
}
.like__shop{
    display: flex;
    justify-content: space-between;
    margin: 22px 30px;
    
}
.likepage{
    background-color: var(--white-color);
    padding: 2px 3px;
    border-radius: 2px;
}
.shop{
    background-color: var(--white-color);
    padding: 2px 3px;
    border-radius: 2px;
}
.likepage-link{
    color: var(--black-color);
    font-size: 1.2rem;
    font-weight: 400;
}
.shop-link{
    color: var(--black-color);
    font-size: 1.2rem;
    font-weight: 400;
}
.likepage-link:hover ,.shop-link:hover{
    text-decoration: none;
    color: var(--black-color);
}

/* evens */
.evens__list a{
    color: var(--black-color);
    font-size: 1.6rem;
    font-weight: 600;
    padding: 4px;
}
.evens__list a:hover{
    color: var(--black-color);
    text-decoration: none;
    background-color: #ff9e62;
}
.evens__heading{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
    font-weight: 600;
}
.evens__heading a{
    margin-top: 10px;
    color: var(--primary-color);
    font-size: 1.2rem;
}
.evens__list-item__img img{
    display: block;
    width: 120px;
    height: 100px;
    text-decoration: none;
}
.evens{
    max-height: 600px;
    overflow: hidden;
    background-color: blanchedalmond;
}
.evens__list-item{
    display: flex;
    margin: 10px 0;
}
.evens__list-item-link{
    margin-left:10px;
}

/* footer */
.footer{
    background-image: url(../images/background2.png);
    height: 200px;
    margin-top: 40px;
}
.footer__left{
   padding: 20px 0;
   display: block;
   float: left;
}
.footer__left-list{
    display: inline-flex;
    list-style: none;
    padding-left: 0;
    
}
.footer__left-item{
    display: block;
    padding: 10px;
}
.footer__left-item a{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--white-color);
    transition: ease-in-out color 0.2s;
}
.footer__left-item a:hover{
    color: var(--primary-color);
    text-decoration: none;
}

.footer__right{
    display: flex;
}
.hotline{
    color: var(--white-color);
    display: flex;
   margin-top: 19px;
}
.hotline-list span{
    display: block;
    font-size: 2rem;
    font-weight: 600;
    padding-top: 12px;
}
.hotline-img img{
    margin: 0 20px;
    width: 100px;
    height: 100px;
}
.footer__img{
    position: absolute;
    right: 0;
}
.footer__img img{
    width: 219px;
}

.footer__bottom{
    padding: 8px 0;
    margin-top: -10px;
}
.footer__text{
    margin: 0;
    text-align: center;
    font-size: 1.4rem;
    color: var(--white-color);
}


/*mobile width < 740px*/
@media only screen and (max-width: 46.25em){

}
/*mobile and tablet width < 1024px*/
@media only screen and (max-width: 63.9375em){
    
}
/*tablet width >= 740px and with < 1024pxpx*/
@media only screen and (min-width: 40.25em) and (max-width: 63.9375em){

} 