<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="QLWEBTICKETMOVIESConnectionString" connectionString="Data Source=DESKTOP-FPMOAN9\VITAMINCO;Initial Catalog=QLWEBTICKETMOVIES;Persist Security Info=True;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="QLWEBTICKETMOVIESConnectionString1" connectionString="Data Source=DESKTOP-9SAS8HE\VITAMINCO;Initial Catalog=QLWEBTICKETMOVIES;Persist Security Info=True;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="QLWEBTICKETMOVIESConnectionString2" connectionString="Data Source=DESKTOP-9SAS8HE\VITAMINCO;Initial Catalog=QLWEBTICKETMOVIES;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>